@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
/* Hide scrollbars globally */
::-webkit-scrollbar {
    display: none !important;
}

/* For Firefox */
* {
    scrollbar-width: none !important;
}

/* For Edge/IE */
* {
    -ms-overflow-style: none !important;
}

